version: '3.8'

services:
  my-app:
    build: ./
    command: wait-for_postgres.sh db ./my-app #название скомпилированного файла приложения
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - DB_PASSWORD=qwerty
  db:
    restart: always #Означает, что данный контейнер перезапускается всегда (при запуске докера, или компьютера)
    #название контейнера
    volumes:
      - ./.database/postgres/data:var/lib/postgresql/data
    ports: 
    - "5432:5432" # Default port of postgresql (can be changed)
    environment:
    # environment variables we can send from here
      - DB_PASSWORD=qwerty
    # linux+postgre image from here https://hub.docker.com/_/postgres/tags
    image: postgres:14.3-alpine3.16
    ###################################################
    # Then in terminal launching docker-compose by comand "docker-compose up"
    #
  rabbit_mq:
    container_name: container_rabbit_mq
    # container ports availible to connect
    ports: 
    - "5672:5672" # TODO @mudor-mt-dm needs to install correct ports
    environment:
    # TODO @mudor-mt-dm needs to set username and password for rabbitMQ
      - RABBITMQ_DEFAULT_USER=user 
      - RABBITMQ_DEFAULT_PASS=password
    # linux+postgre image from here https://hub.docker.com/_/postgres/tags
    image: rabbitmq:3.9-alpine